In [1]:
import pandas as pd

import numpy as np

In [25]:
raw_df = pd.read_csv("~/Desktop/thesis/experiment/data/Adams_experiment_cleaned_filtered.csv")
n = len(raw_df["subject"].unique())
months = raw_df.groupby("word").agg({"s2_value": "mean"}).reset_index()

In [62]:
# Output: last, subject.id, value, order

df = pd.DataFrame({"subject.id": range(n)})
df = df.merge(months, how="cross").groupby("subject.id").sample(frac=1).reset_index(drop=True)
df["order"] = df.groupby("subject.id").cumcount()+1
df = df.rename(columns={"s2_value": "value"})
df.head(16)

    subject.id       word  value  order
0            0    JANUARY     14      1
1            0       JUNE     14      2
2            0       JULY     12      3
3            0   FEBRUARY      2      4
4            0      MARCH     18      5
5            0   DECEMBER      3      6
6            0    OCTOBER     20      7
7            0        MAY     25      8
8            0   NOVEMBER     22      9
9            0  SEPTEMBER     16     10
10           0     AUGUST      7     11
11           0      APRIL     18     12
12           1   DECEMBER      3      1
13           1      APRIL     18      2
14           1  SEPTEMBER     16      3
15           1      MARCH     18      4

In [94]:
def generate_data(stop_proba_func):
    """
    Options
    stop_proba_func: Takes in df of subject's 12 months and must return 12 probabilities
    """

    def random_stopped(df):
        stop_proba = stop_proba_func(df)
        last_proba = stop_proba[1:] + [1]
        df["last"] = [True if x == 1 else False for x in np.random.binomial([1]*12, last_proba)]
        for i, x in enumerate(df["last"]):
            if x:
                df = df.iloc[:i+1]
                break
        return df

    return df.groupby("subject.id").apply(random_stopped).reset_index(drop=True)

In [100]:
# random based on real-life average stopping probabilities based on number evaluated so far

def stop_proba_random(df):
    return [0.2]*12

generate_data(stop_proba_random).head(16)

    subject.id       word  value  order   last
0            0    JANUARY     14      1  False
1            0       JUNE     14      2  False
2            0       JULY     12      3   True
3            1   DECEMBER      3      1  False
4            1      APRIL     18      2   True
5            2    OCTOBER     20      1  False
6            2  SEPTEMBER     16      2  False
7            2   FEBRUARY      2      3   True
8            3  SEPTEMBER     16      1   True
9            4    JANUARY     14      1  False
10           4      MARCH     18      2  False
11           4     AUGUST      7      3  False
12           4       JULY     12      4  False
13           4  SEPTEMBER     16      5  False
14           4       JUNE     14      6  False
15           4        MAY     25      7  False

In [ ]:
# memory 0 (optimal threshold under assumption you can't go back)

def stop_proba_random(df):
    

generate_data(stop_proba_random).head(16)

In [63]:
# optimal

In [ ]:
# optimal based on limited knowledge/set of variables?

In [67]:
np.random.binomial([1]*12, [3]*12)

ValueError: p < 0, p > 1 or p contains NaNs